<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Pushkaraj Sonawane</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/venobox/venobox.css" rel="stylesheet">
  {% comment %} <link href="/static/vendor/owl.carousel//static/owl.carousel.min.css" rel="stylesheet"> {% endcomment %}
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/style.css" rel="stylesheet">
</head>

<body>
  <main id="main"> 
  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
      <ul>
        <li class="{%block homeact%}{%endblock homeact%}"><a href="/"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li class="{%block aboutact%}{%endblock aboutact%}"><a href="/about"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li class="{%block projact%}{%endblock projact%}"><a href="/projects"><i class="bx bx-book-content"></i> <span>Projects</span></a></li>
        <li class="{%block resumeact%}{%endblock resumeact%}"><a href="/resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li class="{%block servicesact%}{%endblock servicesact%}"><a href="/services"><i class="bx bx-server"></i> <span>Certification</span></a></li>
        <li class="{%block contactact%}{%endblock contactact%}"><a href="/contact"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->


  {% if messages %} {% for m in messages %}

    <div class="alert alert-success" id="msg" role="alert">
        <h4 class="alert-heading" style="text-align: center;"> {{m}} For Your Interest... </h4>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {% comment %} <hr>
        <p style="text-align: center;">
            We Will Contact You Shortly...</p> {% endcomment %}

    </div>

    {% comment %} <script>
        swal("{{m}}", "You clicked the button!", "success");
    </script> {% endcomment %}

    {% endfor %} {%endif%} 

 {%block body%}
{%endblock body%}

</main>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Pushkaraj Sonawane</h3>
      <!-- <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p> -->
      <div class="social-links">
        <a href="https://twitter.com/PushkarajSonaw1" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://github.com/pushkS" class="facebook"><i class="bx bxl-github"></i></a>
        <a href="https://www.instagram.com/thats__me777/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://stackoverflow.com/users/14186521/pushkaraj-sonawane" class="google-plus"><i class="bx bxl-stack-overflow "></i></a>
        <a href="https://www.linkedin.com/in/pushkaraj-sonawane-856497167/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright 2021 <strong><span>pushkR;</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="/static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/static/vendor/counterup/counterup.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/venobox/venobox.min.js"></script>
  {% comment %} <script src="/static/vendor/owl.carousel/owl.carousel.min.js"></script> {% endcomment %}
  <script src="/static/vendor/typed.js/typed.min.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>

</body>

</html>


<!-- portpushkR -->
  