{% extends 'base.html' %}
{%block homeact%}active{%endblock homeact%}
{%block body%}
{% load static %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Pushkaraj Sonawane</h1>
      <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer"></span></p>
      <div class="social-links">
        <a href="https://twitter.com/PushkarajSonaw1" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://github.com/pushkS" class="facebook"><i class="bx bxl-github"></i></a>
        <a href="https://www.instagram.com/thats__me777/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://stackoverflow.com/users/14186521/pushkaraj-sonawane" class="google-plus"><i class="bx bxl-stack-overflow "></i></a>
        <a href="https://www.linkedin.com/in/pushkaraj-sonawane-856497167/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  
  </main><!-- End #main -->

 {%endblock body%}