{% extends 'base.html' %}
{%block projact%}active{%endblock projact%}
{%block body%}
{% load static %}
<section id="facts" class="facts">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Projects</h2>
          <p>Following Are My Projects Below...</p>
        </div>
        <ol>
          <li>PIMO</li>
          <p>A smart device for vehicle working on raspberry pie 3, with navigation system and vehicle tracking for bikes and scooters</p>
          <li>Amazon-Web-Scraping</li>
          <p>It is software in which you want to insert URL of Amazon Product with URL you have to add two more details like your E-mail address & Price of the product which should be less. When product prices fall down
      then it will compare your Before Entered Price with Current Product price if it less than Before Entered
      Price Then it will send you an email on the given Receiver Email address.</p>

        </ol>

<div class="container">
  <div class="row">

    <div class="col-lg">
      <div class="count-box">
        <i class="icofont-simple-smile"></i>
        <span><a href="https://github.com/pushkS/Pi-Mo">PIMO</a></span>
        <p>2017-2018</p>
        <!-- <div class="caption">
          <p>A smart device for vehicle working on raspberry pie 3, with navigation system and vehicle tracking for bikes and scooters</p>
        </div> -->
      </div>
    </div>

    <div class="col-lg">
      <div class="count-box">
        <i class="icofont-simple-smile"></i>
        <span><a href="https://github.com/pushkS/Amazon-Web-Scraping">Amazon-Web-Scraping</a></span>
        <p>2019</p>
        <!-- <div class="caption">
          <p>It is software in which you want to insert URL of Amazon Product with URL you have to add two more details like your E-mail address & Price of the product which should be less. When product prices fall down
then it will compare your Before Entered Price with Current Product price if it less than Before Entered
Price Then it will send you an email on the given Receiver Email address.</p>
        </div> -->
      </div>
    </div>
</div>



        </div>

      </div>
    </section><!-- End Facts Section -->

{%endblock body%}